<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>
      안드로이드 디자인{%if page.title%} - {{page.title}}{%endif%}
    </title>
    <!-- TODO urls -->
    <link rel="shortcut icon" type="image/x-icon" href="http://developer.android.com/favicon.ico">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:regular,medium,thin,italic,mediumitalic">
    <link rel="stylesheet" href="http://developer.android.com/assets/yui-3.3.0-reset-min.css">
    <link rel="stylesheet" href="http://developer.android.com/assets/design/default.css">
    <script src="http://developer.android.com/assets/jquery-1.6.2.min.js"></script>
    <script>var SITE_ROOT = '{{site.url}}';</script>
    <script src="http://developer.android.com/assets/design/default.js"></script>
  </head>
  <body itemscope itemtype="http://schema.org/Article">

    <div id="page-container">

      <div id="page-header" itemscope itemtype="http://schema.org/WPHeader"><a href="{{site.url}}index.html">안드로이드 디자인</a></div>

      <div id="main-row">

        <div id="nav-container" itemscope itemtype="http://schema.org/SiteNavigationElement">

        
  <ul id="nav">

  <!-- TODO hrefs -->
  <li class="nav-section">
    <div class="nav-section-header"><a href="{{site.url}}index.html">시작하기</a></div>
    <ul>
      <li><a href="{{site.url}}get-started/creative-vision.html">창조적 비전</a></li>
      <li><a href="{{site.url}}get-started/principles.html">디자인 원칙</a></li>
      <li><a href="{{site.url}}get-started/ui-overview.html">UI 개요</a></li>
    </ul>
  </li>

  <li class="nav-section">
    <div class="nav-section-header"><a href="{{site.url}}style/index.html">스타일</a></div>
    <ul>
      <li><a href="{{site.url}}style/devices-displays.html">기기 및 디스플레이</a></li>
      <li><a href="{{site.url}}style/themes.html">테마</a></li>
      <li><a href="{{site.url}}style/touch-feedback.html">터치 피드백</a></li>
      <li><a href="{{site.url}}style/metrics-grids.html">길이 및 격자</a></li>
      <li><a href="{{site.url}}style/typography.html">글꼴</a></li>
      <li><a href="{{site.url}}style/color.html">색상</a></li>
      <li><a href="{{site.url}}style/iconography.html">아이콘</a></li>
      <li><a href="{{site.url}}style/writing.html">문체</a></li>
    </ul>
  </li>

  <li class="nav-section">
    <div class="nav-section-header"><a href="{{site.url}}patterns/index.html">패턴</a></div>
    <ul>
      <li><a href="{{site.url}}patterns/new-4-0.html">안드로이드 4.0의 새로운 점</a></li>
      <li><a href="{{site.url}}patterns/gestures.html">제스처</a></li>
      <li><a href="{{site.url}}patterns/app-structure.html">앱 구조</a></li>
      <li><a href="{{site.url}}patterns/navigation.html">내비게이션</a></li>
      <li><a href="{{site.url}}patterns/actionbar.html">액션 바</a></li>
      <li><a href="{{site.url}}patterns/multi-pane-layouts.html">다중 창 레이아웃</a></li>
      <li><a href="{{site.url}}patterns/swipe-views.html">뷰 스와이프</a></li>
      <li><a href="{{site.url}}patterns/selection.html">선택</a></li>
      <li><a href="{{site.url}}patterns/notifications.html">알림</a></li>
      <li><a href="{{site.url}}patterns/compatibility.html">호환성</a></li>
      <li><a href="{{site.url}}patterns/pure-android.html">순수한 안드로이드</a></li>
    </ul>
  </li>

  <li class="nav-section">
    <div class="nav-section-header"><a href="{{site.url}}building-blocks/index.html">구성 요소</a></div>
    <ul>
      <li><a href="{{site.url}}building-blocks/tabs.html">탭</a></li>
      <li><a href="{{site.url}}building-blocks/lists.html">리스트</a></li>
      <li><a href="{{site.url}}building-blocks/grid-lists.html">그리드 리스트</a></li>
      <li><a href="{{site.url}}building-blocks/scrolling.html">스크롤</a></li>
      <li><a href="{{site.url}}building-blocks/spinners.html">스피너</a></li>
      <li><a href="{{site.url}}building-blocks/buttons.html">버튼</a></li>
      <li><a href="{{site.url}}building-blocks/text-fields.html">텍스트 필드</a></li>
      <li><a href="{{site.url}}building-blocks/seek-bars.html">탐색 바</a></li>
      <li><a href="{{site.url}}building-blocks/progress.html">프로그레스와 액티비티</a></li>
      <li><a href="{{site.url}}building-blocks/switches.html">스위치</a></li>
      <li><a href="{{site.url}}building-blocks/dialogs.html">다이얼로그</a></li>
      <li><a href="{{site.url}}building-blocks/pickers.html">피커</a></li>
    </ul>
  </li>

  <li class="nav-section">
    <div class="nav-section-header empty"><a href="{{site.url}}downloads/index.html">다운로드</a></div>
  </li>

  <li>
    <div id="back-dac-section"><a href="http://developer.android.com/index.html">Developers</a></div>
  </li>

</ul>


        </div>

        <div id="content">
{%assign enable_navigation = false %}
{%if page.url contains 'index.html' %}
{%if page.url contains 'downloads/index.html'%}
{%assign enable_navigation = true %}
{%endif%}
{%else%}
{%assign enable_navigation = true %}
{%endif%}
{%if enable_navigation %}
<div class="layout-content-row content-header ">
  <div class="layout-content-col span-9">
    <h2>{{page.title}}</h2>
    
  </div>
  <div class="paging-links layout-content-col span-4" itemscope itemtype="http://schema.org/SiteNavigationElement">
    <a href="#" class="prev-page-link">이전</a>
    <a href="#" class="next-page-link">다음</a>
  </div>
</div>
{%endif%}
{{content}}
{%if enable_navigation %}
<div class="layout-content-row content-footer" itemscope itemtype="http://schema.org/SiteNavigationElement">
  <div class="paging-links layout-content-col span-9">&nbsp;</div>
  <div class="paging-links layout-content-col span-4">
    <a href="#" class="prev-page-link">이전</a>
    <a href="#" class="next-page-link">다음</a>
  </div>
</div>
{%endif%}
        </div>

      </div>

      <div id="page-footer" itemscope itemtype="http://schema.org/WPFooter">

        <p id="copyright">
          별도로 언급한 사항을 제외하고, 이 내용은
          <a href="http://creativecommons.org/licenses/by/2.5/">
          크리에이티브 커먼즈 저작자표시 2.5</a>라이선스를 따릅니다.<br>
          자세한 내용과 제약은
          <a href="http://developer.android.com/license.html">내용에 대한 라이선스</a>를 참고하세요.
        </p>

        <p>
          <a href="http://www.android.com/terms.html">사이트 서비스 약관</a> &ndash;
          <a href="http://www.android.com/privacy.html">개인정보 취급 정책</a> &ndash;
          <a href="http://www.android.com/branding.html">브랜드 지침</a>
        </p>

      </div>
    </div>

  </body>
</html>

